/* [400] */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: local('NanumGothic'), url(../font/NanumGothic.woff2) format('woff');
}

/* [700] */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: local('NanumGothic Bold'), local('NanumGothic-Bold'), url(../font/NanumGothicBold.woff2) format('woff2');
}
/* [800] */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: local('NanumGothic Bold'), local('NanumGothic-Bold'), url(../font/NanumGothicExtraBold.woff2) format('woff2');
}